<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Blog</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Add new blog</h1>

        <form method="post" action="/posts" enctype="multipart/form-data">
          <input placeholder="enter username" name="username" /><br /><br />
          <input
            type="file"
            name="image"
            accept="image/*"
            required
          /><br /><br />
          <input
            type="text"
            name="content"
            placeholder="Enter blog content"
            required
          /><br /><br /><br />

          <button class="new">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
